<div class="fondo">
<div class="aboutus-section">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aboutus">
                  <h2 class="aboutus-title">Sobre Evelin Santamaria</h2>
                  <p class="aboutus-text">Soy Evelin Santamaria, estudiante de la carrera de tecnicatura en programacion en la Universidad Tecnologica Nacional (UTN) </p>
                  <p class="aboutus-text">Para ver mi repositorio podes hacer click en el siguiente boton:</p>
                  <a class="aboutus-more" href="http://www.github.com/eveyazmins" target="blank">Mi Github</a>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aboutus-banner">
                <img src="./assets/imagenes/foto.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
              </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="feature"><br><br><br>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Mi Juego: Adivina el sonido</h4>
                              <p>El juego consiste en adivinar a que animal corresponde el sonido brindado.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Objetivo</h4>
                              <p>Averiguar cuanto sabes de animales.</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>