<div class="fondo">

  <h3 class="text-center" style="color:white">Juegos</h3>
  <div class="container mt-40">
    
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box4">
              <img class="img-thumbnail"   src="./assets/imagenes/juegoarit2.jpg" alt="Avatar">
                <div class="box-content">
                    <h3 class="title">Agilidad Aritmetica</h3>
                    <span class="post">Cuan bueno eres en matematicas?</span>
                    <p><button class="btn btn-warning"  (click)="Juego('Agilidad')">Jugar</button></p>
                    <ul class="icon">
                      <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box4">
              <img  class="img-thumbnail"  src="./assets/imagenes/juegoadivinador2.jpg" alt="Avatar">
                <div class="box-content">
                    <h3 class="title">Numero Secreto</h3>
                    <span class="post">Adivina adivinador. Podrás adivinar el número?</span>
                    <p><button class="btn btn-warning"  (click)="Juego('Adivina')">Jugar</button></p>
                    <ul class="icon">
                      <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box4">
              <img class="img-thumbnail" src="./assets/imagenes/juegoppt.jpg" alt="Avatar">
                <div class="box-content">
                    <h3 class="title">Piedra, Papel o Tijera</h3>
                    <span class="post">Podrás ganarle a la máquina?</span>
                    <p><button class="btn btn-warning"  (click)="Juego('PPT')">Jugar</button></p>
                    <ul class="icon">
                      <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="box4">
            <img  class="img-thumbnail"  src="./assets/imagenes/juegoadivinamusica.jpg" alt="Avatar">
              <div class="box-content">
                  <h3 class="title">Adivina los sonidos</h3>
                  <span class="post">Cuanto sabes de animales?</span>
                  <p><button class="btn btn-warning"  (click)="Juego('JuegoSonido')">Jugar</button></p>
                  <ul class="icon">
                    <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="box4">
          <img  class="img-thumbnail"  src="./assets/imagenes/juegoanagrama2.jpg" alt="Avatar">
            <div class="box-content">
                <h3 class="title">Anagrama</h3>
                <span class="post">Podrás formar la palabra?</span>
                <p><button class="btn btn-warning"  (click)="Juego('Anagrama')">Jugar</button></p>
                <ul class="icon">
                  <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="box4">
        <img  class="img-thumbnail"  src="./assets/imagenes/juegotateti.jpg" alt="Avatar">
          <div class="box-content">
              <h3 class="title">TaTeTi</h3>
              <span class="post">El clasico TA - TE - TI</span>
              <p><button class="btn btn-warning"  (click)="Juego('Tateti')">Jugar</button></p>
              <ul class="icon">
                <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
              </ul>
          </div>
      </div>
  </div>
    </div>



</div>
