/* img{
    height: 55px;
    width: 55px;
}
.fondo{
    text-align:center;
    background-color:#0A5699;
    color:#EFDA54;
    height: 500px;
    
}
.imagenes{
    background-color: whitesmoke;
    box-shadow: 1px 1px 18px 2px #000;
    width: 355px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 12px;
} */

img{
    height: 100px;
    width: 100px;
}
.container-fluid {
    background-color: whitesmoke;
    color:#EFDA54;
    height: 1100px;
    display: block;

}

.fondo{
    
      background-image: url(".../../../docs/assets/imagenes/color_principal.jpg");
        margin-top: -60px;
        background-size: cover;
        background-repeat: no-repeat;
      }

.contenedor{
	box-shadow: 1px 1px 18px 2px #000;

	background-color:rgb(241, 74, 96);
	padding-left: 7px;
	width: 640px;
    height: 860px;
    margin: auto;
    border-radius: 10px;
    border-color: rgb(214, 145, 247);
	
}

.Ganador {
    background-color: #059F2F;
}
.Perdedor {
    background-color: #FF0000;
}