ul{
	list-style-type:none;
}

.container {
  background-color:rgb(103, 171, 231);
  box-shadow: 1px 1px 18px 2px #000;
  border-radius: 10px;
  height: 1200px;
  width: 720px;
  margin:150px auto;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3E06B0;
  font: 350% monospace;
  }
  
  .hero-text a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  }
  
  .hero-text a:hover {
  background-color: #555;
  color: white;
  }

  .button-listado {
    /*background-color: #4CAF50;*/
    color: rgb(97, 96, 90);
    padding: 20px 50px;
    margin: 8px 20;
    border: none;
    cursor: pointer;
    width: 100%;
}

.Ganador {
    background-color: #059F2F;
}
.Perdedor {
    background-color: #FF0000;
}