<div class="fondo">
    <!-- Three columns of text below the carousel -->
    <div class="row" style="    margin-top: 20px;
    margin-left: 290px;     margin-right: 0px;">
      <div class="col-lg-6">
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/iconojuegos.png" width="243">
       <!-- <h2>Sala de Juegos</h2>-->
        <p>Los mejores juegos para agilizar tu mente</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/Juegos">Juegos</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6">
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/iconoresultados.png" width="243">
       <!-- <h2>Listados de Resultados</h2>-->
        <p>Conoce los resultados de jugadores</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/Listado">Listado de resultados</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6"><br><br><br>
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/iconojugadores2.png" width="243">
        <!--<h2 style="margin-left:55px;">Jugadores</h2>-->
        <p>Listado de todos los jugadores</p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button" routerLink="/Jugadores">Listado de Jugadores</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6"><br><br>
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/iconoconfig.png" width="243">
        <!--<h2>Configuracion</h2>-->
        <p>Configuraciones de juegos</p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button" routerLink="/Configuracion">Configurar</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

